{# note that this file isn't a template; it's just processed and output. #}
{% extends "page_template.jinja" %}

{% block title %}Terms of Service Knight{% endblock %}

{% block content %}
<h1>Terms of Service Knight</h1>

<div class="butterbar">
	Terms of Service Knight is still in early development -- it is not feature-complete or production-ready. Welcome to <a href="https://github.com/siglt/tosknight" target="_blank">github.com/siglt/tosknight</a> to help us improve the implementation.
</div>

<p>Terms of Service Knight 是一个定期获得腾讯、网易、知乎、百度等网站的用户协议或者隐私条款，并且记录它们的版本变化的工具。</p>

<h4>Credits</h4>

<p>Terms of Service Knight 的想法来源于<a href="http://blog.shiyuhang.org/" target="_blank">史宇航</a>，由<a href="http://blog.shiyuhang.org/" target="_blank">史宇航</a>，<a href="http://gaocegege.com" target="_blank">高策</a>和<a href="http://blog.xuruowei.com/" target="_blank">徐若薇</a>共同实现</p>

{% endblock %}
