{% extends "page_template.jinja" %}

{% block title %}用户协议变化情况一览{% endblock %}

{% block content %}
<h1 class="large-header"><span class="black">Terms of Service Knight 是一个定期获得腾讯、网易、知乎、百度等网站的用户协议或者隐私条款，并且记录它们的版本变化的工具。</h1>
<div class="pyreference">
{% for item in elements %}
    {% if item['type'] == 'start-category' %}
        <div class="pycategory">
        <h3>{{ item['content'] }}</h3>
    {% elif item['type'] == 'start-subcategory' %}
        <h5>{{ item['content'] }}</h5>
    {% elif item['type'] == 'start-list' %}
        <ul>
    {% elif item['type'] == 'link' %}
        <li><a href="{{ item['content'].path }}">{{ item['content'].displayname }}</a></li>
    {% elif item['type'] == 'end-list' %}
        </ul>
    {% elif item['type'] == 'end-category' %}
        </div>
    {% endif %}
{% endfor %}
</div>
{% endblock %}
